<nav>
    <ul>
      <li><a href="/">Головна</a></li>
      <!-- <li><a href="/posts">Posts</a></li> -->
      <li><a href="/subscription">Підписка</a></li>
      <li><a href="/rate">Поточний курс біткоіну</a></li>
    </ul>
  </nav>