<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1 class="error-code">409</h1>
  <p>Вибачте, за цією поштою вже оформлена підписка!!!</p>
</body>
</html>