<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>GSES2 BTC application</h1>
  <p>Вітаю, на цьому сайті ви можете дізнатися поточний курс біткоіну (BTC) у гривні (UAH).</p>
</body>
</html>