<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <article>
    <h1>Дякуємо вам за підписку!!!</h1>
    <p>Тепер ми будемо відправляти вам поточний курс біткоїну на почту - <%= mail.email %></p>
  </article>
</body>
</html>

